body {
  font-family: sans-serif;
}

video {
  max-width: 100%;
  width: 320px;
  transform: rotateY(180deg);
  -webkit-transform:rotateY(180deg); /* Safari and Chrome */
  -moz-transform:rotateY(180deg); /* Firefox */
}

label {
  float: left;
  margin-right: 5px;
}

input[type=range] {
  width: fit-content;
}
