body {
  font-family: sans-serif;
}

label {
  float: left;
  margin-right: 5px;
}

input[type="range"] {
  width: fit-content;
}

.current-user {
  border-bottom: 1px solid;
  border-color: #c0d0ff;
}

.total-box {
  border: 4px solid;
  border-color: #c0d0ff;
  border-radius: 16px;
  min-height: 60%;
}

.left-box {
  border-right: 4px solid;
  border-color: #c0d0ff;
  min-height: 80vh;
}

.right-box {
  min-height: 80vh;
}

html,
body {
  height: 100%;
  background-color: #f7f7f7;
}

#chat-container {
  height: 80vh;
  width: 100%;
  background-color: aliceblue;
  overflow-y: scroll;
}

#type-container {
  box-sizing: border-box;
  height: auto;
  width: 100%;
  background-color: whitesmoke;
}

#overlay {
  background-color: #c0d0ff;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 1000;
}
.marginer {
  margin: 3rem auto;
  max-width: 800px;
}

#roomnumber-input:valid,
#nickname-input:valid {
  color: green;
}
#roomnumber-input:invalid,
#nickname-input:invalid {
  color: red;
}
